In [1]:
import pandas as pd

In [2]:
#Leemos el archivo
with open("DulceMaríaLoynaz.txt", "r") as myfile:
    string1=myfile.read().replace('\n','') 

#Leemos el archivo
with open("ultimaInocencia.txt", "r") as myfile:
    string2=myfile.read().replace('\n',' ').replace('  ',' ')

In [3]:
print(string2)

Partir en cuerpo y alma partir. Partir deshacerse de las miradas piedras opresoras que duermen en la garganta. He de partir no más inercia bajo el sol no más sangre anonadada no más fila para morir. He de partir Pero arremete ¡viajera!

In [4]:
ce1 = ['“','”']

In [5]:
def tokenizador(texto):
    texto_ = texto
    a = 0
    for j,v in enumerate(texto):
        if v in ce1:
            texto_ = texto_[:j+a+1] + ' ' + texto_[j+a+1:]
            a += 1
        elif v  == ',':
            texto_ = texto_[:j+a] + ' ' + texto_[j+a:]
            a += 1
        elif v == '.':
            texto_ = texto_[:j+a] + ' ' + texto_[j+a:j+a+1] + ' ' + texto_[j+a+1:]
            a += 2
        elif v  == '!':
            texto_ = texto_[:j+a] + ' ' + texto_[j+a:]
            a += 1
        elif v  == '¡':
            texto_ = texto_[:j+a+1] + ' ' + texto_[j+a+1:]
            a += 1

    s1 = texto_.split()
    s1_ = []
    s1__ = []
    for j in s1:
        if j in s1_:
            s1__[s1_.index(j)] += 1

        else:
            s1_.append(j)
            s1__.append(1)

    x = [[s1_[j],s1__[j]] for j in range(len(s1_))]
    df1 = pd.DataFrame(x, columns=['type','repeticiones'])
    print('El número de tokens es', len(s1))
    print('El número de types es', len(s1_))
    return df1

In [6]:
tokenizador(string1)

El número de tokens es 106
El número de types es 54

         type  repeticiones
0           “             1
1          He             2
2          de            10
3   amoldarme             1
4           a             5
5          ti             6
6        como             4
7          el             4
8         río             2
9          su             3
10      cauce             1
11          ,             8
12        mar             2
13      playa             1
14         la             4
15     espada             2
16      vaina             1
17          .             4
18     correr             1
19         en             3
20         he             2
21     cantar             1
22  guardarme             1
23         ya             1
24       para             4
25    siempre             1
26      Fuera             1
27         ha             2
28   sobrarme             1
29      mundo             1
30         le             1
31      sobra             1
32         al             2
33       aire             1
34     tierra             1
35       mesa             1
36        del             1
37    convite             1
38     Dentro             1
39         no             1
40   faltarme             1
41   blandura             1
42       limo             1
43         mi             2
44  corriente             1
45     perfil             1
46     viento             1
47        mis             1
48       olas             1
49   ceñidura             1
50          y             1
51     reposo             1
52      acero             1
53          ”             1

In [7]:
tokenizador(string2)

El número de tokens es 47
El número de types es 34

          type  repeticiones
0       Partir             2
1           en             2
2       cuerpo             1
3            y             1
4         alma             1
5       partir             3
6            .             3
7   deshacerse             1
8           de             3
9          las             1
10     miradas             1
11     piedras             1
12   opresoras             1
13         que             1
14     duermen             1
15          la             1
16    garganta             1
17          He             2
18          no             3
19         más             3
20     inercia             1
21        bajo             1
22          el             1
23         sol             1
24      sangre             1
25   anonadada             1
26        fila             1
27        para             1
28       morir             1
29        Pero             1
30    arremete             1
31           ¡             1
32     viajera             1
33           !             1